h1 {
  margin-bottom: 3.5rem;
  font-size: 3.5rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.label {
  margin-bottom: 0.5rem;
}

.mode-wrapper {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  text-align: center;
  font-size: 1.5rem;
}

span[id="session-length"],
span[id="break-length"] {
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
}

.timerlabel {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.timer-wrapper {
  margin: 0 auto;
  max-width: 360px;
  padding: 2rem 0;
  border: 5px solid #13353a;
  border-radius: 3rem;
  text-align: center;
  font-family: "Major Mono Display", monospace;
}

.time-digits {
  font-size: 5.5rem;
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.controls {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
